@charset "UTF-8";

form {
	width: 100%;
}

.box-write {
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 0.5px solid #D8D8D8;
}

.box-subject {
	width: 100%;
	height: 90px;
	border-bottom: 0.5px solid #D8D8D8;
	padding: 30px;
	box-sizing: border-box;
}
.box-subject>input {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
	border: 0
}

.box-content {
	width: 100%;
	height: 400px;
	padding: 30px;
	box-sizing: border-box;
}
.box-content>textarea {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	border: 0;
	resize: none;
}
.box-upload {
	width: 100%;
	height: 80px;
	background-color: #EEEEEE;
	padding: 30px;
	box-sizing: border-box;
}
.box-upload>label>i {
	font-size: 30px;
	color: #2A2A2A;
	padding-right: 20px;
	float: left;
	margin-top: -2px;
}
.box-upload>label>span {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	cursor: pointer;
}
.box-upload input[type="file"] {
	display: none;
}
.box-button {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
}
.box-button>input {
	background-color: #5EB656;
	margin-right: 30px;
}
.box-button>input[type="reset"] {
	background-color: #AFD485;
	margin-right: 30px;
}
.box-button>button {
	background-color: #C8C8C8;
}