@charset "UTF-8";

.tit-big:after {
	display: none;
}

.search-bar {
	margin-top: 30px;
	width: 100%;
	height: 60px;
	border: 3px solid #5EB656;
	border-radius: 100px;
}
.fa-search {
	width: 30px;
	height: 100%;
	line-height: 60px;
	font-size: 25px;
	color: #5EB656;
	padding-left:30px;
}
.box-input>input[type="text"] {
	width: 76.5%;
	height: 40px;
	text-align: left;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
	padding: 18px;
	vertical-align:2px;
}
.box-input>input[type="submit"] {
	width: 173px;
	height: 50px;
	border: 0;
	border-radius: 100px;
	background-color: #5EB656;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
	float: right;
	margin: 5px 5px 0;
	cursor: pointer;
}


.list-crew-all {
	width: 100%;
	height: auto;
	overflow:hidden;
}
.box-crew {
	width: 23%;
	height: 370px;
	border: 0.5px solid #D8D8D8;
	margin: 30px 2.34% 0 0;
	float: left;
}

.box-crew:nth-child(4n) {
	margin-right: 0px;
}

.box-crew:last-child {
	text-align: center;
}

.area-img {
	width: 100%;
	height: 250px;
}
.area-img>a>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.area-bottom {
	border-top: 0.5px solid #D8D8D8;
	padding: 30px;
}
.area-txt {
	font-family: 'Noto Sans KR', sans-serif;
	float: left;
	text-align: left;
}
.crew-name {
	font-size: 18px;
}
.crew-m-number {
	margin-top: 5px;
}

#page_wrap {
	padding: 30px 0 80px;
}