@charset "UTF-8";

.applicants {
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.applicants>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
	padding-bottom: 20px;
	text-align: center;
}

.box-applicant {
	display: inline-block;
	width: 48.5%;
	height: 120px;
	border: 0.5px solid #D8D8D8;
	padding: 20px;
	margin: 0 2% 2% 0;
	box-sizing: border-box;
}
.box-applicant:nth-child(2n) {
	margin-right: 0;
}
.user-img {
	width: 80px;
	height: 80px;
	margin-left: 20px;
	border: 1px solid #AAAAAA;
	border-radius: 100px;
	overflow: hidden;
	float: left;
}
.user-img>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-name {
	width: 40%;
	height: 100%;
	padding: 0 30px;
	float: left;
	text-align: left;
	box-sizing: border-box;
}
.user-name>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
	margin: 10px 0 5px;
}
.user-name>span {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 12px;
	color: #ACACAC;
}
.box-approval {
	float: right;
	line-height: 80px;
}
.box-approval>button {
	width: 65px;
	height: 50px;
	border: 0;
	border-radius: 100px;
	background-color: #C8C8C8;
}
.box-approval>button>a {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
}
.box-approval>button:first-child {
	background-color: #5EB656;
}

.box-btn {
	text-align: center;
	position: relative;
}
.box-btn:before {
	content: "";
	display: block;
	width: 100%;
	height: 0.5px;
	background-color: #D8D8D8;
	position: absolute;
	margin-top: 10px;
}

.btn-m {
	margin-top: 30px;
	background-color: #5EB656;
	margin-bottom: 80px;
}