@charset "UTF-8";

.write-top {
	width: 100%;
	height: 160px;
	border-bottom: 0.5px solid #D8D8D8;
}
.box-subject {
	width: 100%;
	height: 50%;
}
.box-writer {
	margin-top: 10px;
}
.box-subject>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 25px;
	line-height: 80px;
	font-weight: 500;
	color: #2A2A2A;
}

.write-content {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 0.5px solid #D8D8D8;
}
.box-content {
	margin: 30px 0 60px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.box-icon {
	margin-bottom: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.box-icon>span {
	margin: 0 15px 0 5px;
}

.box-comment {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 0.5px solid #D8D8D8;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 30px;
}
.box-comment>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	padding-bottom: 30px;
}

.box-one-comment {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
}
.user-img {
	float: left;
}
.right-comment {
	float: left;
	margin-left: 15px;
	
}
.user-comment>p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.user-comment>p>span {
	margin: 5px 0 0 10px;
	font-size: 12px;
	color: #AEAEAE;
}
.txt-comment {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	margin-top: 5px;
}
.btn-comment {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 87%;
}
.btn-comment>button {
	border: 0;
	border-radius: 100px;
	background-color: #AFD485;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 10px 15px;
}

.box-write-comment {
	width: 100%;
	height: 180px;
	padding: 20px;
	margin-bottom: 30px;
	box-sizing: border-box;
	border: 0.5px solid #D8D8D8;
	position: relative;
}
.box-write-comment>.user-nick {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.box-write-comment>form>textarea {
	width: 90%;
	height: 90px;
	margin-top: 20px;
	resize: none;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.box-write-comment>form>input[type="submit"] {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 70px;
	height: 40px;
	border: 0;
	background-color: #AFD485;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
}
.list-btn {
	margin-top: 30px;
	text-align: center;
	padding-bottom: 80px;
}
.btn-m {
	margin-left: 30px;
}
.btn-m:last-child {
	margin-right: 0;
}
.btn-update {
	background-color: #5EB656;
}
.btn-golist {
	background-color: #C8C8C8;
}
.btn-delete {
	background-color: #1D5B22;
}