@charset "UTF-8";

#content {
	height: auto;
	overflow: hidden;
	margin-bottom: 80px;
}

.box-title {
	padding-top: 60px;
}
.img-crew-profile {
	width: 20%;
	height: 220px;
	border: 3px solid black;
	float: left;
	margin-top: 60px;
	box-sizing: border-box;
}
.img-crew-profile>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.box-title {
	width: 75%;
	height: 220px;
	display: inline-block;
	margin-left: 4%;
}
.tit-small {
	padding-top: 0; 
}
.txt-crew-exp {
	padding-top: 20px;
	width: 70%;
	height: auto;
	overflow: hidden;
	font-size: 18px;
	float: left;
}
.box-title>button {
	margin-top: 20px;
	float: right;
	width: 170px;
	height: 50px;
	line-height: 45px;
	border: 0;
	border-radius: 100px;
	background-color: #5EB656;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #fff;
}

.box-write-search {
	width: 100%;
	height: 40px;
	margin: 40px 0 30px;
}

.box-feed {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 80px;
}

.list-crew-feed {
	width: 100%;
	height: 200px;
	padding: 30px;
	border: 0.5px solid #D8D8D8;
	box-sizing: border-box;
	margin-bottom: 2%; 
}

.feed-content {
	width: 100%;
	height: 70px;
	padding-top: 25px;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
	box-sizing: border-box;
}
.feed-bottom {
	width: 100%;
	margin-top: 5px;
	font-size: 16px;
	color: #C5C5C5;
}
.feed-bottom>span {
	margin: 0 10px 0 5px;
}