@charset "UTF-8";

#updateCrewInfo>div {
	width: 100%;
	border-bottom: 0.5px solid #D8D8D8;
}

.box-name {
	height: 90px;
	line-height: 90px;
}
.box-name>span {
	display: inline-block;
	width: 20%;
	height: 100%;
	margin-left: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
}
.input-style {
	width: 40%;
}

.box-explan {
	height: 140px;
	position: relative;
}
.box-explan>p {
	display: inline-block;
	width: 20%;
	height: 100%;
	line-height: 140px;
	margin-left: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
}
.box-explan>textarea {
	height: 100px;
	resize: none;
	margin: 20px 0 0 5px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
}
.box-upload {
	height: 90px;
	line-height: 90px;
}
.box-upload>span {
	display: inline-block;
	width: 20%;
	height: 100%;
	padding-left: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: #2A2A2A;
}
.btn-s {
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 40px;
	background-color: #AFD485;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.box-upload>input {
	display: none;
}

.btn-m {
	display: block;
	margin: 20px auto 0;
	background-color: #5EB656;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
}
