@charset "UTF-8";

.user-info {
	width: 100%;
	height: auto;
	padding-bottom: 80px;
}

.info {
	display: flex;
	height: 100%;
	width: 100%;
}
.crew {
	width: 50%;
	height: 100%;
	position:relative;
}
.tit-crew {
	margin-top: 34px;
	margin-bottom: 42px;
	font-size: 25px;
}
.crew-image>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
div {
	font-family: 'Noto Sans KR', sans-serif;
	vertical-align :middle;
}
.crew-image {
	width: 18%;
	height: 12vh;
	border: 1px solid black;
	float: left;
}

.crew-info {
	width: 40%;
	height: 12vh;
	float: left;
}
.crew-button {
	width: 40%;
	height: 12vh;
	float: left;
	text-align: right;
}
.crew-name {
	padding-left: 30px;
	padding-top: 15px;
}
.crew-reg {
	padding-left: 30px;
	padding-top: 15px;
	font-size: 14px;
    color: #AAAAAA;
	}
.crew-button:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-right: 0;
    vertical-align: middle;
}
.btn-s {
	background-color: #5EB656;
	bottom:0;
	right:0;
	margin-right: 20px; 
}
.crew-area {
	margin-bottom: 20px;
	width: 100%;
	height: 14vh;
}
.crew-empty {
	text-align: center;
}
.crew-area-empty {
	padding: 50px;
}
