@charset "UTF-8";

.box-content-img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.box-content-img>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-bottom: 30px;
}

.map-top {
	border-bottom: 0.5px solid #D8D8D8;
}

.box-icon {
	height: 80px;
	margin: 0;
	padding: 30px;
	box-sizing: border-box;
}

.box-write-comment>textarea {
	width: 90%;
	height: 90px;
	margin-top: 20px;
	resize: none;
	border: 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.box-write-comment>button {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 70px;
	height: 40px;
	border: 0;
	background-color: #AFD485;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #fff;
}
