@charset "UTF-8";

#review_writing{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.map-top {
	width: 100%;
	height: 80px;
	border-top: 0.5px solid #D8D8D8;
	padding: 30px;
	box-sizing: border-box;
}
.map-top>.fa-map-marked-alt {
	font-size: 25px;
	color: #2A2A2A;
	padding-right: 20px;
	float: left;
	margin-top: -2px;
}
.map-top {
	cursor: pointer;
}
.map-top>span {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
}
.map-top>.fa-chevron-down {
	float: right;
	margin-top: 5px;
	transform : rotate(0deg);
	transition: all 0.25s;
}
.fa-chevron-down.on {
	transform : rotate(180deg);
}

.map-content {
	width: 100%;
	/*이 아래부분 두개는 지도 넣으면 지워주세요*/
	height: 300px;
	background-color: yellowGreen;
	display: none;
}

.box-button>input.btn-golist {
	background-color: #C8C8C8;
}