@charset "UTF-8";

.box-content-img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.box-content-img>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-bottom: 30px;
}

.map-top {
	border-bottom: 0.5px solid #D8D8D8;
}

.box-icon {
	height: 80px;
	margin: 0;
	padding: 30px;
	box-sizing: border-box;
}
