@charset "UTF-8";

.box-review-best {
	padding-bottom: 50px;
	border-bottom: 0.5px solid #D8D8D8;
}
.tit {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 30px;
	color: #2A2A2A;
	letter-spacing: -3px;
	margin: 30px 0 40px;
}

.box-write-search {
	width: 100%;
	height: 40px;
	margin-top: 50px;
}

.box-review {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 30px;
}
.box-one-review {
	width: 23%;
	height: 390px;
	border: 0.5px solid #D8D8D8;
	margin: 30px 2.34% 0 0;
	float: left;
	position: relative;
}
.box-one-review:nth-child(4n) {
	margin-right: 0px;
}
.box-img {
	width: 100%;
	height: 250px;
}
.box-img>a>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.box-txt {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
	padding: 30px;
}
.review-writer,.review-info,.review-date {
	color: #AAAAAA;
}
.review-info {
	width: 100%;
	margin-top: 20px;
	font-size: 16px;
	color: #C5C5C5;
}
.review-info>span {
	margin: 0 10px 0 5px;
}
.review-info {
	display: inline-block;
}
.review-date {
	font-size: 12px;
	position: absolute;
	right: 30px;
	bottom: 20px;
}
.page_ul {
	padding-bottom: 80px;
}